<!--<div id="container" class="w-full h-screen px-8 py-16 bg-gray-100 border-4 border-red-500">
  <div id="sections" class="border-4 border-blue-600 flex flex-col">
    <div id="logo-section" class="w-full h-1/4 border-4 border-yellow-600">
      <img src="../../assets/Images/Logos/bhm-logo-dark.png" alt="logo-dark-bhm" class="w-36">
    </div>
    <div id="form-section" class="w-full h-3/4 border-4 border-green-600 flex flex-col md:flex-row">
      <div id="text-content" class="md:w-3/5 space-y-5  md:pr-16">
        <h2 class="text-2xl font-extrabold leading-none text-black sm:text-3xl md:text-5xl">
          Changing The Way People Do Business.
        </h2>
        <p class="text-xl text-gray-600 md:pr-16">Learn how to engage with your visitors and teach them about your mission. We're revolutionizing the way customers and businesses interact.</p>
      </div>
      <div id="form-content" class="md:w-2/5">
        <div class="relative z-10 h-auto p-8 py-10 overflow-hidden bg-white border-b-2 border-gray-300 rounded-lg shadow-2xl px-7">
          <h3 class="mb-6 text-2xl font-medium text-center">Sign in to your Account</h3>
          <input type="text" name="email" class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Email address">
          <input type="password" name="password" class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Password">
          <div class="block">
            <button class="w-full px-3 py-4 font-medium text-white bg-blue-600 rounded-lg">Log Me In</button>
          </div>
          <p class="w-full mt-4 text-sm text-center text-gray-500">Don't have an account? <a href="#_" class="text-blue-500 underline">Sign up here</a></p>
        </div>
      </div>
    </div>
  </div>
</div>-->



<!-- Section 1 -->
<section class="w-full px-8 py-16 bg-gray-100 xl:px-8 h-screen">
  <div class="max-w-5xl mx-auto">
    <div id="logo-section" class="w-full h-1/4">
      <img src="../../assets/Images/Logos/bhm-logo-dark.png" alt="logo-dark-bhm" class="w-36">
    </div>
    <div class="flex flex-col items-center md:flex-row">

      <div class="w-full space-y-5 md:w-3/5 md:pr-16">
<!--        <p class="font-medium text-blue-500 uppercase">Building Businesses</p>-->
        <h2 class="text-2xl font-extrabold leading-none bhm-gradient sm:text-3xl md:text-5xl">
          Sport et nutrition personnalisé
        </h2>
        <p class="text-xl text-gray-600 md:pr-16">Accéder à + de 200 séances de sports avec vidéos de démonstration certifiées. Un suivi complet, votre planning nutritionnel vous attendent aussi. Et bien d'autres bonnes choses...</p>
      </div>

      <div class="w-full mt-16 md:mt-0 md:w-2/5">
        <div class="relative z-10 h-auto p-8 py-10 overflow-hidden bg-white border-b-2 border-gray-300 rounded-lg shadow-2xl px-7">
          <h3 class="mb-6 text-2xl font-medium text-center">Connectez-vous</h3>
          <input type="text" name="email" class="block w-full px-4 py-3 mb-4 border border-2 border-transparent rounded-lg border-gray-300 focus:ring-yellow-500 focus:border-yellow-500" placeholder="Adresse email">
          <input type="password" name="password" class="block w-full px-4 py-3 mb-4 border border-2 border-transparent rounded-lg border-gray-300 focus:ring-yellow-500 focus:border-yellow-500" placeholder="Mot de passe">
          <div class="block">
            <button class="w-full px-3 py-4 font-medium text-white bg-yellow-500 rounded-lg hover:bg-yellow-600 ease-out" (click)="onClick()">Se connecter</button>
          </div>
          <p class="w-full mt-4 text-sm text-center text-gray-500">Pas de compte ? <a href="#_" class="text-yellow-500 underline">Créez-en</a></p>
        </div>
      </div>

    </div>
  </div>
</section>

