<!-- Résultat de la recommandation -->
<div class="relative w-full mt-6 space-y-8">
    <div class="grid-cols-1 space-y-6">
        <div class="relative">
            <div class="bg-blue-500 font-sans text-xl rounded-lg text-center py-10 px-20 text-white">
                <p class="font-light mb-1">Votre imc est de:</p>
                <p class=" text-5xl">
                {{ result?.imc}}
                    <span class="text-xl">kg/m<sup>2</sup></span>
                </p>
            </div>
        </div>
        <div class="relative">
            <div class="bg-yellow-500 font-sans text-xl rounded-lg text-center py-10 px-20 text-white">
                <p class="font-light mb-1">Le programme choisi:</p>
                <p class=" text-2xl">
                  {{ result?.choix }}
                </p>
            </div>
        </div>
        <div class="relative">
            <div  [ngClass]="{ 'bg-green-500': this.result?.recommanded, 'bg-red-500' : !this.result?.recommanded }"
                  class="font-sans text-xl rounded-lg text-center py-10 px-20 text-white">
                <p class="font-light mb-1">Recommandation:</p>
                <p class=" text-2xl">
                  {{ this.result?.recommanded === true ? 'Oui' : this.result?.progRecommanded }}
                </p>
            </div>
        </div>
        <div class="relative">
          <div class="flex grid grid-cols-2 justify-center">
            <button class="flex justify-center bg-white border border-white p-2 rounded text-gray-700 flex items-center focus:outline-none focus:shadow-outline hover:animate-pulse">
              <svg width="24" height="24" viewBox="0 0 16 16">
                <path d="M9 4 L5 8 L9 12" fill="none" stroke="currentColor" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" />
              </svg>
              <span class="mx-2">Retour</span>
            </button>
            <button (click)="onClickNext()"
                  class="flex justify-center bg-white border border-white p-2 rounded text-yellow-500  flex items-center focus:outline-none focus:shadow-outline hover:text-yellow-600 hover:animate-pulse">
              <span class="mx-2">Poursuivre</span>
              <svg width="24" height="24" viewBox="0 0 16 16">
                <path d="M7 4 L11 8 L7 12" fill="none" stroke="currentColor" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" />
              </svg>
            </button>
          </div>
        </div>
    </div>
</div>
