@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// regular style toast
@import '~ngx-toastr/toastr';


/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bhm-gradient{
  background: rgba(0, 0, 0, 0) -webkit-linear-gradient(45deg, rgb(253, 150, 3), rgb(253, 124, 3), rgb(198, 0, 65)) repeat scroll 0% 0% padding-box text;
  -webkit-text-fill-color: transparent;
}

$color-bhm-orange: #EF9A38;
